{
  "bind_addr": "{{ ansible_eth1.ipv4.address }}",
  "datacenter": "{{ site }}",
  "data_dir": "/var/consul/",
  "log_level": "INFO",
  "server": true,
  "bootstrap_expect": 3,
  "ports": {
    "dns": 8600,
    "grpc": 8502,
    "server": 8300
  },
  "ui": true,
  "client_addr": "{{ ansible_eth1.ipv4.address }}",
  "connect": {
    "enabled": true
  },
  "retry_join": [
    "{{ consul_node1 }}",
    "{{ consul_node2 }}"
  ]
}
