data_dir    = "/opt/nomad"
datacenter  = "site1"
region      = "wa"

bind_addr   = "{{ ansible_eth1.ipv4.address }}"

advertise {
  rpc  = "{{ ansible_eth1.ipv4.address }}"
  serf = "{{ ansible_eth1.ipv4.address }}"
}

consul {
  address = "{{ ansible_eth1.ipv4.address }}:8500"
  # The service name to register the server and client with Consul.
  server_service_name = "nomad"
  client_service_name = "nomad-client"

  # Enables automatically registering the services.
  auto_advertise = true

  # Enabling the server and client to bootstrap using Consul.
  server_auto_join = true
  client_auto_join = true
}

server {
    enabled                 = true
    bootstrap_expect        = 3
    server_join {
        retry_join = [
            "{{ nomad_node1 }}",
            "{{ nomad_node2 }}"
        ]
        retry_max = 3
        retry_interval = "15s"
    }
}

{% if nomad_client_enabled == true %}
client {
  enabled = true
  network_interface = "eth1"
  servers = ["site1-node1:4647", "site1-node2:4647", "site1-node3:4647"]

  host_volume "hosts" {
    path      = "/etc/hosts"
  }
  meta {
    host = "{{ ansible_hostname }}"
  }
}
{% endif %}

