# Make edits to /etc/resolvconf/resolv.conf.d/head.
# nameserver {{ hostvars['site1-node1']['ansible_default_ipv4']['address'] }}
# nameserver {{ hostvars['site1-node2']['ansible_default_ipv4']['address'] }}
# nameserver {{ hostvars['site1-node3']['ansible_default_ipv4']['address'] }}

